# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
.env.*

# IDEs
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Virtual environments
venv/
env

# Tests
test_image.py
test_image.html
